.login-register {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
}

.login, .register , .welcome {
  width: 45%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login h2, .register h2 , .welcome {
  margin-bottom: 20px;
  text-align: center;
}

.login input, .register input {
  width: 90%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ff0000;
  border-radius: 5px;
}

.login button,
.register button,
.welcome button {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px; /* Adds space between buttons */
  background-color: rgb(244, 22, 22);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login button:hover, .register button:hover {
  background-color: rgb(207, 21, 21);
}

.login-button {
  background-color: rgb(200, 80, 80);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

.header {
  padding: 10px;
  outline-color: black;
  outline: auto;
}

.navbar {
  display: flex;
  justify-content: space;
}

.nav-item button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
