.rectangle- {
  display: flex;
  width: 300px;
  height: 155px;
  background: linear-gradient(0deg, #F5B0B0, #F5B0B0), #F5B0B0;
  border: 1px solid #000000;
  border-radius: 15px;
  z-index: 0;
  margin: 10px;
  /* Добавьте остальные стили по желанию */
}

.rectangle- p{
    margin-left: 10;
}
.butn{
    position:relative;
  right: 0;
  bottom: 0;
     
  background: #E04040;
  border-radius: 15px;
  z-index: 1;
  width: 90px;
  height: 35px;
  border: 1px solid transparent; /* Добавляем прозрачную рамку */
  color: #FFFFFF;
}
