
/* Главный экран */
.main-screen1 {
  position: relative;
  width: 1014px;
  height: 700px;
  background: #FFFFFF;
}
  
  
/* Заголовок */
.Zogolovok {
  position: absolute; /* Устанавливаем позиционирование как абсолютное */
  top: 80px; /* Поднимаем текст выше на 20px относительно базовой точки */
  font-size: 30px;
  left: 60px;
}
/*тeкст*/
.text-block{
  position: relative; /* Устанавливаем позиционирование как абсолютное */
  font-size: 25px;
  top: -550px; 
  left: 60px; 
}

@media (max-width: 768px) {
  .Zogolovok {
    left: 10px;
    font-size: 5vw; /* Responsive font size based on viewport width */
    margin-top: 5vh; /* Adjust margin from top */
    margin-left: 5%; /* Adjust margin from left */
  }
  
  /* Текст */
  .text-block {
    font-size: 3vw; /* Responsive font size based on viewport width */
    position: relative;
    top: -500px;
    left:0px;
    margin-top: 3vh; /* Adjust margin from top */
    margin-left: 5%; /* Adjust margin from left */
  }
}

