
/* Главный экран */
.main-screen1 {
    position: relative;
    width: 1014px;
    height: 700px;
    background: #FFFFFF;
  }
  
  
/* Заголовок */
.Zogolovok {
    position: absolute; /* Устанавливаем позиционирование как абсолютное */
    top: 80px; /* Поднимаем текст выше на 20px относительно базовой точки */
    font-size: 30px;
    left: 60px;
}
/*тeкст*/
.h10{
  position: absolute; /* Устанавливаем позиционирование как абсолютное */
  top: 150px; /* Поднимаем текст выше на 20px относительно базовой точки */
  font-size: 25px;
  left: 60px; 
}
.h20{
  position: absolute; /* Устанавливаем позиционирование как абсолютное */
  top: 200px; /* Поднимаем текст выше на 20px относительно базовой точки */
  font-size: 25px;
  left: 60px; 
}
.h30{
  position: absolute; /* Устанавливаем позиционирование как абсолютное */
  top: 300px; /* Поднимаем текст выше на 20px относительно базовой точки */
  font-size: 25px;
  left: 60px; 
}
.h40{
  position: absolute; /* Устанавливаем позиционирование как абсолютное */
  top: 400px; /* Поднимаем текст выше на 20px относительно базовой точки */
  font-size: 25px;
  left: 60px; 
}
