/* Линия сверху */
.line-tops {
    position: absolute;
    width: 1490px;
    height: 0px;
    left: 0px;
    top: 50px; /* Измените значение top на 30px или другое значение, которое соответствует вашим требованиям */
    border: 1px solid #000000;
  }
 

    .P {
        position: absolute;
        top: 40px;
        left: 70px;
        font-size: 25px;
      }
      .p{
        position: absolute;
        top: 80px;
        left: 70px;
        font-size: 25px;
      }
      
      .table-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10%;
        overflow-x: hidden; /* Скрытие горизонтального скролла */
      }
      .table-container1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 150px;
        margin-left: 200px;
        overflow-x: hidden; /* Скрытие горизонтального скролла */
      }
      .table-container2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 50px;
        margin-left: 200px;
        overflow-x: hidden; /* Скрытие горизонтального скролла */
      }
      
      
      .frame {
        border: 2px solid #000;
        width: 750px;
        border-radius: 30px;
        overflow: hidden;
        padding: 20px;
      }
      
      .content {
        padding: 40px;
      }
      
      .question-container {
        background-color: #F5B0B0;
        padding: 10px;
        border-radius: 20px;
      }
      
      .question-box {
        margin-bottom: 10px;
      }
      
      .question-text {
        font-weight: bold;
      }
      
      .answer-options {
        display: flex;
        flex-direction: column;
      }
      
      .answer-option {
        margin-bottom: 5px;
      }
      
      .answer-option input[type="radio"] {
        margin-right: 5px;
      }
      .complete-test-button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 10%;
    }
    
    .complete-test-btn {
        position: absolute;
        background-color: #E04040;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        border: 2px solid black; /* Черная рамка */
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.7s ease;
        margin-top: 200px;
        margin-left: -950px;
        width: 20%;
    }
    
    .complete-test-btn:hover {
        background-color: #CC3333;
    }
    a {
  text-decoration: none;
}
a.hover{
  color: #E04040;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #F5B0B0; /* You can change the color as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 34px;
}
