/* Линия сверху */
.line-tops {
    position: absolute;
    width: 1490px;
    height: 0px;
    left: 0px;
    top: 50px; /* Измените значение top на 30px или другое значение, которое соответствует вашим требованиям */
    border: 1px solid #000000;
  }
  /* О курсах */
.about-coursess {
    position: absolute;
    width: 65px;
    height: 18px;
    left: 258px;
    top: 15px;
    font-weight: 20; 
  
    /* Добавьте остальные стили по желанию */
  }
  /* Контакты */
  .contactss {
    position: absolute;
    width: 67px;
    height: 18px;
    left: 372px;
    top: 15px;
    font-weight: 20; 
  
    /* Добавьте остальные стили по желанию */
  }
  /* Онлайн курсы */
.online-coursess {
    position: absolute;
    width: 137px;
    height: 24px;
    left: 66px;
    top: 15px;
    font-weight: 20; 
  
    /* Добавьте остальные стили по желанию */
  }
  .nametexts{
    position: absolute;
    font-size: 20px;
    right: 90px;
    top: 10px;
    z-index: 1100;
    }
    
    .circles {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E87C7C;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 35px;
    top: 5px;
    z-index: 1100;
    }
    
    .letters{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    }
    
    .panels {
    position: fixed; /* Используем fixed, чтобы панель оставалась видимой при прокрутке страницы */
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    background-color: rgba(248, 200, 200, 0.9); /* Пример цвета с прозрачностью */
    z-index: 1000; /* Поднимаем панель над остальными элементами */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    }
    
    .comboBoxHeaders {
    position: relative;
    cursor: pointer;
    padding: 10px;
    top: -170px;
    right: 50px;
    }
    
    /* Стили для стрелочки в заголовке панели "Мои курсы" */
    .arrows {
    float: right;
    }
    
    /* Стили для содержимого панели "Мои курсы" */
    .comboBoxPanels {
    position: relative;
    display: none;
    width: 50%;
    z-index: 1000;
    top: -100px;
    right: 40px; 
    }
    
    /* Стили для отображения панели "Мои курсы" */
    .shows {
    display: block;
    }
    
    /* Дополнительные стили для курсов */
    .comboBoxPanels p {
    margin: 5px 0;
    }
    /* Стили для комбо бокса Курса 1 */
    #course1Panels {
    display: none; /* По умолчанию скрыт */
    width: 50%; /* Занимает всю ширину панели */
    border-radius: 5px;
    z-index: 1000;
    margin-top: 10px; /* Отступ сверху для содержимого панели */
    top: -270px;
    right: 50px;
    }
    
    
    
    /* Стили для комбо бокса Курса 2 */
    #course2Panels {
    display: none; /* По умолчанию скрыт */
    width: 50%; /* Занимает всю ширину панели */
    border-radius: 5px;
    z-index: 1000;
    margin-top: 10px; /* Отступ сверху для содержимого панели */
    top: -270px;
    right: 50px;
    }
    
    /* Стили для отображения панели Курса 2 */
    #course2Panels.show {
    display: block;
    }
    
    /* Стили для комбо бокса Курса 3 */
    #course3Panels {
    display: none; /* По умолчанию скрыт */
    width: 50%; /* Занимает всю ширину панели */
    border-radius: 5px;
    z-index: 1000;
    margin-top: 10px; /* Отступ сверху для содержимого панели */
    top: -270px;
    right: 50px;
    }
    
    /* Стили для отображения панели Курса 3 */
    #course3Panels.shows {
    display: block;
    }
    
    .PanelKyrss1,
    .PanelKyrss2,
    .PanelKyrss3 {
    display: none;
    }
    
    .PanelKyrss1.shows,
    .PanelKyrss2.shows,
    .PanelKyrss3.shows {
    display: block;
    }
    
    .arrows {
    cursor: pointer;
    }


    .P {
        position: absolute;
        top: 40px;
        left: 70px;
        font-size: 25px;
      }
      .p{
        position: absolute;
        top: 80px;
        left: 70px;
        font-size: 25px;
      }
      
      .table-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 50px;
        margin-left: 200px;
        overflow-x: hidden; /* Скрытие горизонтального скролла */
      }
      .table-container1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 150px;
        margin-left: 200px;
        overflow-x: hidden; /* Скрытие горизонтального скролла */
      }
      .table-container2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 50px;
        margin-left: 200px;
        overflow-x: hidden; /* Скрытие горизонтального скролла */
      }
      
      
      .frame {
        border: 2px solid #000;
        width: 750px;
        border-radius: 30px;
        overflow: hidden;
        padding: 20px;
      }
      
      .content {
        padding: 40px;
      }
      
      .question-container {
        background-color: #F5B0B0;
        padding: 10px;
        border-radius: 20px;
      }
      
      .question-box {
        margin-bottom: 10px;
      }
      
      .question-text {
        font-weight: bold;
      }
      
      .answer-options {
        display: flex;
        flex-direction: column;
      }
      
      .answer-option {
        margin-bottom: 5px;
      }
      
      .answer-option input[type="radio"] {
        margin-right: 5px;
      }
      .complete-test-button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 10%;
    }
    
    .complete-test-btn {
        position: absolute;
        background-color: #E04040;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        border: 2px solid black; /* Черная рамка */
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.7s ease;
        margin-top: 200px;
        margin-left: -950px;
        width: 20%;
    }
    
    .complete-test-btn:hover {
        background-color: #CC3333;
    }
    