/* Линия сверху */
.line-tops {
    position: absolute;
    width: 1490px;
    height: 0px;
    left: 0px;
    top: 50px; /* Измените значение top на 30px или другое значение, которое соответствует вашим требованиям */
    border: 1px solid #000000;
  }
 
    .P {
        position: absolute;
        top: 40px;
        left: 70px;
        font-size: 25px;
      }
      .p{
        position: absolute;
        top: 80px;
        left: 70px;
        font-size: 25px;
      }
      .p1{
        position: absolute;
        top: 600px;
        left: 300px;
        font-size: 19px;
        font-weight: 500;
      }
      .p2{
        position: absolute;
        top: 1220px;
        left: 300px;
        font-size: 19px;
        font-weight: 500;
      }
      .p3{
        position: absolute;
        top: 1840px;
        left: 300px;
        font-size: 19px;
        font-weight: 500;
      }
      
      .table-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 150px;
        margin-left: 200px;
        overflow-x: hidden; /* Скрытие горизонтального скролла */
      }
      
      
      .frame {
        border: 2px solid #000;
        width: 750px;
        border-radius: 30px;
        overflow: hidden;
        padding: 20px;
      }
      a {
        text-decoration: none;
      }
      a.hover{
        color: #E04040;
      }   
      
     